
<h1><%=@owner.name%></h1>
<p>
  <%= notice %>
</p>

<p>
  <strong>Name:</strong>
  <%= @owner.name %>
</p>

<p>
  <strong>Pet Names:</strong>
  <% @owner.pets.each do |pet| %>
    <div class="chip">
      <img src="http://placebear.com/50/50" alt="Picture of pet named <%= pet.name %>">
      <%= link_to pet.name, pet %>
    </div>
  <% end %>
</p>


<h4>Comments</h4>
<%= link_to "add a comments",  new_owner_comment_path(@owner),remote: true, class: "btn btn-primary" %>
<%= link_to "Refresh Comments",  "#", id: 'get-comments-btn', class: "btn btn-primary", data: {"disable-with": "...working..."} %>
<table id="comment-table">
  <thead>
    <th>
      Comment
    </th>
    <th>
      Who
    </th>
    <th>
      When
    </th>
  </thead>
  <tbody>
    <% @owner.comments.order(id: :desc).each do |comment| %>
      <%= render comment %>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add Pet', new_owner_pet_path(@owner), class: 'waves-effect waves-light btn' %>
<%= link_to 'Pets', owner_pets_path(@owner), class: 'waves-effect waves-light btn' %>

<%= link_to 'Edit', edit_owner_path(@owner), class: 'waves-effect waves-teal btn-flat' %>
<%= link_to 'Back', owners_path, class: 'waves-effect waves-teal btn-flat' %>
