<p id="notice"><%= notice %></p>

<h1>Health Record for <%= @pet.name %></h1>

<p>
  <strong>Owner:</strong>
  <%= @pet.owner.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @pet.notes %>
</p>

<%= link_to 'Add Visit', new_pet_visit_path(@pet), class: 'waves-effect waves-light btn' %>

<%= link_to 'Edit', edit_pet_path(id: @pet), class: 'waves-effect waves-light btn' %>
<%= link_to 'Back', owner_pets_path(@pet.owner), class: 'waves-effect waves-teal btn-flat'%>

<table class="striped">
  <thead>
    <th>
      Notes
    </th>
    <th>
      When
    </th>
  </thead>
  <tbody>
    <%= render @pet.visits %>
  </tbody>
</table>
